# I. Рядки (String).

1. Створити пустий рядок двома різними способами.

In [ ]:
string1 = "   "
string2 = str()

2. Створити рядок з апострофом.

In [ ]:
string_with_apostrophe = "string with apostrophe: '   "
string_with_apostrophe2 = 'string with apostrophe: \'  '
print(string_with_apostrophe)
print(string_with_apostrophe2)

string with apostrophe: '
string with apostrophe: '

3. Створити рядок з символом переходу на новий рядок та роздрукувати його в консоль.

In [ ]:
multiline_string = "This is a line with a newline character.\nThis is a new line."
print(multiline_string)

This is a line with a newline character.
This is a new line.

4. Зробити рядок з завдання №3 "сирим"(raw), вивести в консоль та порівняти з результатом в попередному завданні.

In [ ]:
raw_multiline_string = r"This is a line with a newline character.\nThis is a new line."
print(raw_multiline_string)

This is a line with a newline character.\nThis is a new line.

Звичайний рядок обробляє спеціальні послідовності, такі як \n.
Сирі рядки розглядають всі символи як звичайний текст і не обробляють спеціальні послідовності.

5. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
my_surname = "Romanok"
print(f"My surname is {my_surname}.")

My surname is Romanok.

6. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
text = "My dog is crazy."
word_list = text.lower().replace('.', '').split()
print(word_list)

['my', 'dog', 'is', 'crazy']

# II. Множини (Set).

7. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)

print(my_set)

{1, 2, 3}

Множини можна змінювати, додавати до них елементи і видаляти їх.

8. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Set в Python містять лише унікальні значення. При додаванні елементів до множини, вона автоматично видаляє будь-які дублікати.

9. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union_set = set1.union(set2)
print("Union of sets:", union_set)

difference_set = set1.difference(set2)
print("Difference of sets:", difference_set)

intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference of sets:", symmetric_difference_set)

Union of sets: {1, 2, 3, 4, 5, 6, 7}
Difference of sets: {1, 2}
Intersection of sets: {3, 4, 5}
Symmetric difference of sets: {1, 2, 6, 7}

10. Створіть множину з пʼяти елементів. За допомогою спеціального методу, вилучіть три елементи один за одним з множини. Чи може гарантуватися порядок елементів у множинах?

In [ ]:
my_set = {1, 2, 3, 4, 5}

my_set.pop()
my_set.remove(2)
my_set.discard(3)

print(my_set)

{4, 5}

Ми можемо видаляти елементи з множини за допомогою методів pop(), remove(), або discard(). Метод pop() видаляє і повертає один елемент, метод remove() видаляє вказаний елемент (генерує помилку, якщо він відсутній), і метод discard() видаляє вказаний елемент (не генерує помилку, якщо він відсутній).

# III. Словники (Dictionary).

11. Створіть пустий словник двома способами.

In [ ]:
empty_dict1 = {}
empty_dict2 = dict()

12. До одного зі словників вище додайте чотири пари елементів такі, щоб їхні ключі були різних типів.

In [127]:
empty_dict = {}

empty_dict[1] = 'integer_key'
empty_dict[3.14] = 'float_key'
empty_dict[True] = 'boolean_key'
empty_dict['key'] = 'string_key'

print(empty_dict)

{1: 'boolean_key', 3.14: 'float_key', 'key': 'string_key'}

Список не може бути ключем в словнику через свою змінюваність та відсутність хеш-значення, але він може бути значенням в словнику, бо значення можуть бути змінюваними об'єктами.

13. Використовуючи той самий словник, отримайте по ключу будь-яке значення з наявних. Тепер видаліть цю пару ключ-значення. Спробуйте знову отримати значення по цьому ж ключу. Використовуючи спеціальний метод, виправте помилку.

In [128]:
# 1. Get the value by key
value = empty_dict['key']
print("Values by key 'key':", value)

# 2. Delete this key-value pair.
del empty_dict['key']

# 3. Attempting to get the value by the same key again.
value = empty_dict.get('key')
if value is not None:
    print("Values by key 'key':", value)
else:
    print("Error: The key 'key' was removed from the dictionary.")

# 4. Restore the key-value pair.
empty_dict['key'] = value
value = empty_dict['key']
print("Values by key 'key':", value)

Values by key 'key': string_key
Error: The key 'key' was removed from the dictionary.
Values by key 'key': None

# IV. Оператори порівняння та логічні оператори. Умови.

14. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [ ]:
number = 777

if number % 2 == 0:
    result = number * 2
    print(f"The number {number} is even. The result of multiplication by 2: {result}")
else:
    result = number * 3 + 1
    print(f"The number {number} is odd. The result of multiplying by 3 and adding 1: {result}")

The number 777 is odd. The result of multiplying by 3 and adding 1: 2332

15. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [ ]:
name = "Viacheslav"

if 'a' in name or 'i' in name:
    print("A or I is in the name")
if 'o' in name and 'n' in name:
    print("O and N is in the name")
elif 'o' not in name and 'n' in name:
    print("Only N is in the name")
else:
    print("There is no N in the name, but there might be O")

A or I is in the name
There is no N in the name, but there might be O

In [ ]:
name = "Antonina"

if 'a' in name or 'i' in name:
    print("A or I is in the name")
if 'o' in name and 'n' in name:
    print("O and N is in the name")
elif 'o' not in name and 'n' in name:
    print("Only N is in the name")
else:
    print("There is no N in the name, but there might be O")

A or I is in the name
O and N is in the name

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.